<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="content">
        <ul class="am-avg-sm-5 am-avg-md-5 am-avg-lg-5 am-thumbnails">
            <li><a href="http://www.kaochong.com">联系我们</a></li>
            <li><a href="http://www.kaochong.com">加入我们</a></li>
            <li><a href="http://www.kaochong.com">合作伙伴</a></li>
            <li><a href="http://www.kaochong.com">广告及服务</a></li>
            <li><a href="http://www.kaochong.com">友情链接</a></li>
        </ul>
        <!--<div class="btnlogo"><img src="images/btnlogo.png"/></div>-->
        <p>cfc 出品<br>© 2018 cfc</p>
        <div class="w2div">
            <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-2 am-avg-lg-2 am-gallery-overlay" data-am-gallery="{ pureview: true }" >

            </ul>
        </div>
    </div>
</footer>