<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="am-topbar am-topbar-fixed-top wos-header">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="#"><img src="images/logo.png" alt=""></a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-warning am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active"><a href="/">首页</a></li>
                <li><a href="/category?pageNum=1">资讯</a></li>
                <li><a href="/category?pageNum=1">专栏</a></li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        案例 <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li class="am-dropdown-header">案例</li>
                        <li><a href="/category?pageNum=1">1. 游戏案例</a></li>
                        <li><a href="/category?pageNum=1">2. 营销案例</a></li>
                        <li><a href="/category?pageNum=1">3. 工具案例</a></li>
                        <li><a href="/category?pageNum=1">4. 全部案例</a></li>
                    </ul>
                </li>
                <li><a href="/category?pageNum=1">评测</a></li>
                <li><a href="/category?pageNum=1">活动</a></li>
            </ul>

        </div>
    </div>
</header>