<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navtop" id="head_nav">
    <div class="head container">
        <img src="/static/imgs/kc_logo.png">
        <span>ep_news后台管理系统</span>
        <!--<div class="float_right user_manage">-->
            <!--<a href="/static/page/change.html">后台切换入口</a>-->
            <!--当前登录：<a href="javascript:;" class="user">${adminuser.loginName! ""}</a><a href="/logout" class="quit">退出</a>-->
        <!--</div>-->
    </div>
</div>