<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!--360 browser -->
    <meta name="renderer" content="webkit">
    <meta name="author" content="wos">
    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/i/app.png">
    <!--Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="images/i/app.png">
    <!--Win8 or 10 -->
    <meta name="msapplication-TileImage" content="images/i/app.png">
    <meta name="msapplication-TileColor" content="#e1652f">

    <link rel="icon" type="image/png" href="images/i/favicon.png">
    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="css/public.css">

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="assets/js/amazeui.min.js"></script>
    <script src="js/public.js"></script>
</head>
<body>

<div th:replace="fragment/header :: header"></div>


<div class="category2top">
    <div class="am-g am-container userinfo">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-5 userinfo_left">
            <div class="am-g">
                <div class="am-u-md-12 am-u-lg-6 userface">
                    <img src="Temp-images/face2.jpg">
                </div>
                <div class="am-u-md-12 am-u-lg-6 userin">
                    <h3>山边小溪</h3>
                    <h4>AmazeUI</h4>
                    <p>文章<span th:text="${page.totalCount}">9</span></p>
                    <button type="button" class="am-btn am-btn-warning am-hide-lg-only" style="margin: 0 auto; margin-top: 30px">
                        <i class="am-icon-plus"></i>
                        订阅
                    </button>
                </div>
            </div>

        </div>
        <div class="am-u-sm-0 am-u-md-12 am-u-lg-4 am-show-lg-only userinfo_center">
            削减是一个从源代码中删除不必要的字符的技术使它看起来简单而整洁。这种技术也被称为代码压缩和最小化。
        </div>
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3 am-show-lg-only userinfo_right">
                <button type="button" class="am-btn am-btn-warning">
                    <i class="am-icon-plus"></i>
                    订阅
                </button>
        </div>

    </div>
</div>

    <div class="am-g">
        <div class="am-u-sm-0 am-u-md-2 am-u-lg-3">&nbsp;</div>
        <div class="am-u-sm-12 am-u-md-8 am-u-lg-6">
            <div data-am-widget="list_news" class="am-list-news am-list-news-default ">
                <div class="am-list-news-bd">
                    <ul class="am-list">
                        <li  th:each="u : ${list}" class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="border-top: 0px">
                            <div class="am-u-sm-5 am-list-thumb">
                                <a th:href="'/detail?id='+${u.id}">
                                    <img th:src="${u.headPic}" th:alt="${title}"/>
                                </a>
                            </div>

                            <div class=" am-u-sm-7 am-list-main">
                                <h3 class="am-list-item-hd"><a th:href="'/detail?id='+${u.id}" th:text="${u.title}">我最喜欢的一张画</a></h3>

                                <div class="am-list-item-text" th:text="${u.title}">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>

                            </div>
                        </li>



                    </ul>

                    <ul data-am-widget="pagination" class="am-pagination am-pagination-default" style="text-align: center">

                        <li class="am-pagination-first ">
                            <a th:href="'/category?type='+${#httpServletRequest.getParameter('type') == null ?'': #httpServletRequest.getParameter('type')}+'&pageNum=1'" class="">第一页</a>
                        </li>

                        <li class="am-pagination-prev ">
                            <a th:if="${page.isFirst}" href="javascript:void(0);" class="">上一页</a>
                            <a th:if="${not page.isFirst}"th:href="'/category?type='+${#httpServletRequest.getParameter('type') == null ?'': #httpServletRequest.getParameter('type')}+'&pageNum='+${page.pageNum-1}" class="">上一页</a>
                        </li>

                        <!--<div >-->
                            <li  th:each=" i : ${#numbers.sequence(1,page.pageCount)}" th:class="${page.pageNum == i}?'am-active':''">
                                <a th:href="'/category?type='+${#httpServletRequest.getParameter('type') == null ?'': #httpServletRequest.getParameter('type')}+'&pageNum='+${i}" th:text="${i}" class=""></a>
                            </li>
                        <!--</div>-->




                        <li class="am-pagination-next ">
                            <a th:if="${page.isLast}" href="javascript:void(0);" class="">下一页</a>
                            <a th:if="${not page.isLast}"th:href="'/category?type='+${#httpServletRequest.getParameter('type') == null ?'': #httpServletRequest.getParameter('type')}+'&pageNum='+${page.pageNum+1}" class="">下一页</a>
                        </li>

                        <li class="am-pagination-last ">
                            <a th:href="'/category?type='+${#httpServletRequest.getParameter('type') == null ?'': #httpServletRequest.getParameter('type')}+'&pageNum='+${page.pageCount}" class="">最末页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="am-u-sm-0 am-u-md-2 am-u-lg-3">&nbsp;</div>
    </div>



<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="回到顶部">
        <span class="am-gotop-title">回到顶部</span>
        <i class="am-gotop-icon am-icon-chevron-up"></i>
    </a>
</div>

<!--footer-->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>