<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加课程</title>
    <link rel="stylesheet" href="/static/css/comm.css"/>
    <link rel="stylesheet" href="/static/css/course_add.css"/>
    <link href="/static/css/jquery.datetimepicker.css" type="text/css" rel="stylesheet"/>

    <script type="text/javascript" charset="utf-8" src="/static/ue/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ue/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ue/lang/zh-cn/zh-cn.js"></script>
    <script src="/static/js/common/jquery-2.1.1.min.js"></script>
    <script src="/static/js/common/jquery.form.js"></script>
    <script src="/static/js/common/jquery.datetimepicker.js"></script>
    <script src="/static/js/common/jquery.cookie.js"></script>
    <script src="/static/js/common/util.js"></script>
    <script src="/static/js/common/q.js"></script>
    <script src="/static/js/common/ajax.js"></script>
    <script src="/static/js/common/head_nav.js"></script>
    <script src="/static/js/common/loading.js"></script>
    <script src="/static/js/course/coursedetail.js"></script>
</head>
<body>
<!--顶部导航-->
<div th:replace="fragment/nav :: navtop"></div>

<!--主体内容-->
<div class="clearfix container">
    <!--左侧导航-->
    <div th:include="fragment/nav_left"></div>

    <!--右侧内容-->
    <div id="right_con" class="add_module float_right clearfix">
        <div class="course_add_title">添加新闻</div>
        <form id="form" action="/api/course/add" class="course_add_details float_right" method="post">
            <ul class="sell_intro">
                <input type="hidden" name="id" th:value="${id}"/>
                <div class="sell_intro_title"><h2>基础信息</h2></div>
                <li class="sell_intro_item">
                    <span class="sell_intro_sub">新闻类型</span>
                    <!--新闻类型:1荣誉榜 2热门资讯 3个人专栏 4合作专栏-->
                    <select name="type">
                        <option  th:selected="${type} == 1" value="1">1荣誉榜</option>
                        <option  th:selected="${type} == 2" value="2">2热门资讯</option>
                        <option  th:selected="${type} == 3" value="3">3个人专栏</option>
                        <option  th:selected="${type} == 4" value="4">4合作专栏</option>
                    </select>
                </li>

                <li class="sell_intro_item">
                    <span class="sell_intro_sub">新闻名称</span>
                    <div><input type="text" name="title" class="name" th:value="${title}" maxlength="18">18字以内</div>
                </li>
                <!--<li class="sell_intro_item">-->
                    <!--<span class="sell_intro_sub">课程简介</span>-->
                    <!--<div>-->
                        <!--<textarea class="intro" name="intro" maxlength="80">${intro}</textarea>80字以内-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="sell_intro_item">-->
                    <!--<span class="sell_intro_sub">大号图片</span>-->
                    <!--<div>-->
                        <!--<input style="width:500px;" id="picLarge" type="text" name="picLarge" value="${picLarge}">-->
                        <!--<a onclick="$('#upload_picLarge').click()" href="javascript:;" class="focus_img"-->
                           <!--value="${picLarge}">选择图片</a><br \>1 : 1.693(248*420)-->
                    <!--</div>-->
                <!--</li>-->
                <li class="sell_intro_item">
                    <span class="sell_intro_sub">封面图片</span>
                    <div>
                        <input id="pic" style="width:500px;" type="text" name="pic" th:value="${headPic}">
                        <a onclick="$('#upload_pic').click()" href="javascript:;" class="square_chart" th:value="${pic}">选择图片</a><br \>1.4 : 1(210*150)
                    </div>
                </li>
                <!--<li class="sell_intro_item">-->
                    <!--<span class="sell_intro_sub">小号图片</span>-->
                    <!--<div>-->
                        <!--<input id="picSquare" style="width:500px;" type="text" name="picSquare" value="${picSquare}">-->
                        <!--<a onclick="$('#upload_picSquare').click()" href="javascript:;" class="square_chart"-->
                           <!--value="${picSquare}">选择图片</a><br \>1 : 1(210*210)-->

                    <!--</div>-->
                <!--</li>-->

                <li class="sell_intro_item">
                    <div>
                        <div class="sell_intro_sub">权重</div>
                        <input type="text" name="index" th:value="${index}">
                    </div>

                </li>
                <!--<li class="sell_intro_item">-->
                    <!--<span class="sell_intro_sub">听课须知</span>-->
                    <!--<div>-->
                        <!--<input id="picRules" style="width:500px;" type="text" name="picRules" value="${headPic}">-->
                        <!--<a onclick="$('#upload_picRules').click()" href="javascript:;" class="square_chart" value="${picRules}">选择图片</a><br \>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>




            <ul class="course_intro">
                <div class="course_intro_title">新闻主题</div>
                <script id="container" type="text/plain" style="width:740px;height:300px;"></script>
                <script th:inline="javascript">
                    var ue = UE.getEditor('container');
                    ue.ready(function () {
                        ue.setContent([[${content}]]);
                    });
                </script>
            </ul>

            <div class="action_btn float_right">
                <a href="javascript:;" id="save">保存</a>
                <a id="cancel" href="javascript:;">取消</a>
            </div>
        </form>
    </div>
</div>

</div>

<form style="display:none" id="form_thumb" action="/admin/file/upload" enctype="multipart/form-data">
    <input id="upload_pic" type="file" name="file"/>

</form>


<input type="hidden" id="courseId" th:value="${id}">


</body>
</html>
