<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程列表</title>
    <link rel="stylesheet" href="/static/css/comm.css"/>
    <link rel="stylesheet" href="/static/css/kkpager.css"/>
    <link rel="stylesheet" href="/static/css/course_list.css"/>

    <script src="/static/js/common/jquery-2.1.1.min.js"></script>
    <script src="/static/js/common/jquery.form.js"></script>
    <script src="/static/js/common/jquery.datetimepicker.js"></script>
    <script src="/static/js/common/jquery.cookie.js"></script>
    <script src="/static/js/common/q.js"></script>
    <script src="/static/js/common/ajax.js"></script>
    <script src="/static/js/common/kkpager.js"></script>
    <script src="/static/js/common/head_nav.js"></script>
    <script th:src="@{/static/js/course/courselist.js}"></script>
</head>

<body>
<!--<div  id="head_nav">-->
    <!--<div class="head container">-->
        <!--<img src="/static/imgs/kc_logo.png">-->
        <!--<span>考虫后台管理系统</span>-->
        <!--<div class="float_right user_manage">-->
            <!--<a href="/static/page/change.html">后台切换入口</a>-->
            <!--当前登录：<a href="javascript:;" class="user">${adminuser.loginName! ""}</a><a href="/logout" class="quit">退出</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div th:replace="fragment/nav :: navtop"></div>

    <div class="clearfix container">
        <!--<ul id="left_nav" class="float_left">-->

            <!--<li class="course_manage"><a href="/statistic">数据平台</a></li>-->

            <!--<li class="course_manage"><a href="/admin/new/list">课程管理</a></li>-->

            <!--<li class="course_manage"><a href="/course/card/group/list">课程卡片组管理</a></li>-->

        <!--</ul>-->
        <div th:include="fragment/nav_left"></div>

        <div id="right_con" class="float_right">
            <!--按钮-->
            <div class="course_add_search">
                <a href="/admin/new/detail" id="add" class="float_left">添加新闻</a>
                <form class="search_course" >
                    <input type="search" placeholder="输入新闻ID、类型、名称查询" id="key" name="key" class="search">
                    <input type="submit" value="搜索" id="j-search" class="btn search_btn">
                </form>
            </div>

            <!--课程-->
            <table class="course_operate_list">
                <thead>
                <tr class="title">
                    <td class="id">新闻ID</td>
                    <td class="type">类型</td>
                    <td class="name">新闻名称</td>
                    <td class="headPic">图片</td>
                    <td class="index">权重顺序</td>
                    <td class="ctime">创建时间</td>
                    <td class="operate">操作</td>
                </tr>
                </thead>
                <tbody class="j-course-con" id="j-course-con">

                </tbody>
            </table>
            <div class="hint_box">你搜索的内容，不存在~</div>
            <nav class="page_con pages_box">
                <div>
                    <div id="kkpager"></div>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>